.loading{
    color: #666666;
    font-style: oblique;
}

.url_wrapper{
    display: flex;
}

.type_select{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    color: #666666;
    font-weight: 350;
}
.type_select:hover{
    color: #333333;
}

.menu_item{
    color: #666666;
    font-style: oblique;
}