.left{
    min-height: 10vh;
}
.right{
    min-height: 10vh;
}
.options{
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.text{
    color: #666666;
    font-size: 1.1em;
}
.duration{
    color: #666666;
    font-size: 1.2em;
}