.loading{
    color: #666666;
    font-style: oblique;
}

.url_wrapper{
    display: flex;
}
.url_wrapper > *{
    margin-right: 1em;
}

.type_select{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    color: #666666;
    font-weight: 350;
}
.type_select:hover{
    color: #333333;
}

.menu_item{
    color: #666666;
    font-style: oblique;
}

.readonly_remark{
    color: #666666;
    font-weight: lighter;
    font-size: 1.1em;
}

.readonly_url{
    color: #666666;
    font-weight: lighter;
    font-size: 1.1em;

}