.container{
    padding: 2vh 1vh 1vh;
    min-height: 6vh;
}
.row{
    min-height: 6vh;
}
.sidebar > *{
    position: relative;
    left: 0.5vw;
}
.placeholder{
    position: absolute;
    color: #aaa;
    font-style: oblique;
}