.container{

}

.content{
    min-width: 600px;
    max-width: 700px;
    width: 50vw;
    min-height: 30vh;
    z-index: 2;
}

.popover{
}

.icon_button_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected_knode_title_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selected_knode_title_wrapper > *{
    margin-right: 1vw;
}

.selected_knode_title_wrapper:first-child{
    color: #666666;
}

.selected_leaf_wrapper{
    display: flex;
    align-items: center;
}

.selected_leaf_wrapper > *{
    margin-right: 1vw;
}

.float{
    left: 3vw;
    bottom: 4vh;
}

.time_bar{
    display: flex;
    align-items: center;
}
.time_bar > *{
    margin: 0 2vw;
}

.duration{
    font-size: 2em;
    color: #666666;
}

.settle_learning_modal{
    height: 60vh;
}
.modal_cascader{
    width: 80%;

}
.modal_content{
    height: 85%;
}
.modal_content_left{
    max-height: 100%;
}
.modal_content_left_placeholder{
    font-size: 1.3em;
    color: #666666;
    font-style: italic;
    font-weight: lighter;
}
.modal_content_left_placeholder_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_content_right{
    max-height: 100%;
}
.modal_divider{
    height: 100%;
    position: absolute;
    margin: 0;
}
