.time{
    font-size: 1.5em;
    font-weight: lighter;
    font-style: oblique;
    color: #666666;
    padding-left: 0.3em;
}
.label{
    display: flex;
}
.label > *{
    margin-right: 1em;
}
.ratio{

}