.time_bar{
    color: #666666;
    font-size: 1.1em;
    font-style: oblique;
}
.duration{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: #666666;
    font-weight: bold;
}
.date_cell_container{
    height: 100%;
}
.date_cell{
    color: #72aff6;
    font-size: 1.6em;
    font-weight: bold;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 80%;
    position: relative;
    top: -0.3em;
}
.trace_title{
    color: #666666;
    font-weight: bold;
    font-size: 1.3em;
}
.enhancer_title{
    color: #666666;
    font-weight: bold;
    font-style: oblique;
    margin-right: 1em;
    cursor: pointer;
}
.enhancer_title:hover{
    opacity: 50%;
}
.distribution_info{
    color: #666666;
    font-style: oblique;
    font-size: 1.2em;
    margin-left: 2em;
    position: relative;
    top: 0.15em;
}
.enhancer_distribution_title{
    color: #666;
    font-weight: bold;
    font-size: 1.2em;
}
.enhancer_distribution_icon{
    color: #666;
    scale: 120%;
    position: relative;
    top: 0.18em;
}
.enhancer_distribution_info{
    color: #666;
    font-style: oblique;
    font-size: 1.2em;
}
.enhancer_distribution_item{
    color: #666666;
    font-size: 1.2em;
    font-weight: bold;
}
.enhancer_distribution_item > *{
    margin-right: 0.5em;
}
.knode_info{
    display: flex;
}
.knode_info > *{
    margin-right: 1em   ;
}


.add_box{
    display: flex;
    justify-content: left;
    color: #666666;
    font-style: oblique;
    font-weight: lighter;
}

.add_prompt{
    scale: 90%;
}

.info_prompt{
    color: #888888;
    font-weight: lighter;
    font-size: 1.3em;
    font-style: oblique;
}
.info_data{
    color: #666666;
    font-weight: lighter;
    font-size: 1.3em;
    font-style: oblique;
}