.placeholder{
    color: #aaaaaa;
    font-style: italic;
    margin-left: 1vw;
}

.add_card_wrapper{
    margin-top: 0.5em;
    margin-bottom: 10vh;
}
.add_card_wrapper > *{
    margin-right: 2em;
}
.divider{
    color: #999999;
    font-weight: lighter;
    font-size: 0.9em;
    font-style: oblique;
}