.container{
    padding-top: 0.8em;
    min-height: 6vh;
}
.option{
    display: flex;
    align-items: center;
}
.title{
    font-size: 1.2em;
    color: #666666;
}
.description{
    font-size: 0.9em;
    color: #666666;
}