.options {
    display: flex;
    justify-content: space-evenly;
}

.left_options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_options > *{
    margin-bottom: 3em;
}

.placeholder{
    position: absolute;
    color: #aaa;
    font-style: oblique;
}