.login{
    border-radius: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 3vh 3vw;
}
.form{
    width: 20vw;
}
.resize_box{
    border-bottom: 1px solid #DCDCDC;
}
.container {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.commit{
    width:100%;
}

.register_complete_button{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_form_wrapper{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    font-size: 0.8em;
    font-weight: bold;
}