.login{
    background: #f2f3f7;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 51px 60px;
}
.form{
    width: 30vw;
}
.resize_box{
    border-bottom: 1px solid #DCDCDC;
}
.container {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.commit{
    width:100%;
}
