.container{
    display: flex;
    justify-content: center;
}
.container > *{
    margin-right: 2em;
}
.upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 1.2em;
    color: #666666;
}